*{
	margin: 0;
    padding: 0;
	box-sizing: border-box;
}
.flex-header{
    background-color:#ADD8E6;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
}
.flex{
    display: flex;
}
.d-flex{
    min-height: 25px;
    border: 2px dashed black;
    background-color: orange;
    width: 100%;
}
.c-flex{
    min-width: 50%;
    justify-content: center;
    
}
.flex-item{
    min-width: 25%;
}
.flex-80{
    width: 80%;
}
.r-flex{
    justify-content: flex-end;
}  
.blue{
    background-color:#00008B;
    height: 300px;
    justify-content: center;
    align-items: center;
}
.div-pink{
    background-color:#EE82EE;
    height: 80%;
    width: 50%;
    border:2px dashed black
}
.div-pink-main{
    background-color:#FFC0CB;
    height: 80%;
    width: 40%;
    border:2px dashed black
}
.div-blue{
    background-color:#1E90FF;
    height: 80%;
    width: 60%;
    border:2px dashed black
}
.container{
    justify-content: center;
    height: 300px;
}
.card{
    align-items: center;
    height: 300px;
    width: 80%;
}
.grey{
    background-color: grey;
}
.row-reverse{
    flex-direction: row-reverse;
}
.big-container{
    justify-content: center;
    align-items: center;
    height: 500px;
}
.green{
    background-color:#228B22;
    height:80%;
    width: 80%;
    border:2px dashed black;
}
.black{
    background-color: #23272A;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.red{
    background-color:#F08080;
    height:97%;
    width:20%;
    border: 2px dashed black;
}
.light-blue{
    background-color:#20B2AA;
    height: 97%;
    width: 60%;
    justify-content: flex-start;
}
.border{
    border: 2px dashed white ;
    height: 100%;
    width: 40%;
}
.separate{
    background-color: white;
    height: 1px;   
    width: 100%;
}
.light-green{
    background-color:#7FFFD4;
    height:35px;
    width:80%;
    justify-content: space-between;
    align-items: center;
}
.footer{
    height: 50px;
    background-color: #23272A;
    width: 100%;
    justify-content: center;
    align-items:flex-end;
}
.button{
    height: 16px;
    background-color:#FFB6C1;
    border: 1.5px dashed black;
    font-size: 12px;
}